<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets
            'assets/css/bootstrap.min.css'
            'assets/css/app.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet"/>
        {% endstylesheets %}

        {% block stylesheets %}
        {% endblock %}

        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="header" class="hero-unit">
                    <h1>Mon projet Symfony2</h1>
                    <p>Ce projet est propulsé par Symfony2, et construit grâce au tutoriel du siteduzero.</p>
                    <p><a href="#" class="btn btn-primary btn-large">Lire le tutoriel</a></p>
                </div>
            </div>
            <div class="row">
                <div id="menu" class="col-md-3">
                    <h3>Le blog</h3>
                    {#<ul class="nav nav-pills nav-stacked">#}
                    <ul class="">
                        <li>
                            <a href="{{ path('blog_accueil') }}">Accueil du blog</a>
                        </li>

                        <li>
                            <a href="{{ path('blog_ajouter') }}">Ajouter un article</a>
                        </li>
                    </ul>
                </div>

                <div id="base-content" class="col-md-9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>The sky's the limit - 2019 and beyond</p>
            </footer>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
