<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


{#  'assets/css/x-editable/bootstrap-editable.css'  #}



        {% stylesheets
            'assets/css/bootstrap.min.css'
            'assets/css/jquery-ui.css'
            
            'assets/css/datatable/datatables.css'
            'assets/css/datatable/autoFill.dataTables.min.css'
            
            'assets/css/app.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet"/>
        {% endstylesheets %}

<!-- Les deux iports ci-dessous sont importants ! -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>



        {#
            A iniclure plus tard :
            'assets/css/datatable/jquery.dataTables.1.10.19.min.css'
        #}


        {% block stylesheets %}
        {% endblock %}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>#}
        {#<script src="{{ asset('assets/js/jquery.min.js') }}"></script>#}
        <script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/datepicker/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('assets/js/datatable/datatables.min.js') }}"></script>
        <script src="{{ asset('assets/js/datatable/dataTables.autoFill.min.js') }}"></script>
        <script src="{{ asset('assets/js/x-editable/bootstrap-editable.min.js') }}"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="header" class="hero-unit">
                    <h1>Mon projet Symfony2</h1>
                    <p>Ce projet est propulsé par Symfony2, et construit grâce au tutoriel du siteduzero.</p>
                    <p><a href="#" class="btn btn-primary btn-large">Lire le tutoriel</a></p>
                </div>
            </div>
            <div class="row">
                {#
                <div id="menu" class="col-md-3">
                    <h3>Le blog</h3>
                    <ul class="">
                        <li>
                            <a href="{{ path('blog_accueil') }}">Accueil du blog</a>
                        </li>

                        <li>
                            <a href="{{ path('blog_ajouter') }}">Ajouter un article</a>
                        </li>
                    </ul>
                </div>

                <div id="base-content" class="col-md-9"> #}
                    {% block body %}
                    {% endblock %}
                {#</div> #}
            </div>

            <hr>

            <footer>
                <p>The sky's the limit - 2019 and beyond</p>
            </footer>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
