<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets
            'assets/css/bootstrap.min.css'
            'assets/css/datatable/datatables.css'
            'assets/css/datatable/autoFill.dataTables.min.css'
            'assets/css/x-editable/bootstrap-editable.css'
            'assets/css/app.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet"/>
        {% endstylesheets %}

        {#
            A iniclure plus tard :
            'assets/css/datatable/jquery.dataTables.1.10.19.min.css'
        #}


        {% block stylesheets %}
        {% endblock %}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>#}
        {#<script src="{{ asset('assets/js/jquery.min.js') }}"></script>#}
        <script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/datepicker/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('assets/js/datatable/datatables.min.js') }}"></script>
        <script src="{{ asset('assets/js/datatable/dataTables.autoFill.min.js') }}"></script>
        <script src="{{ asset('assets/js/x-editable/bootstrap-editable.min.js') }}"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="header" class="hero-unit text-center" style="width: 100%">
                    <h1>Workers Place</h1>
                    <p>Monitoring of Workers Collected Data.</p>
                </div>
            </div>
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>

            <hr>

            <footer>
                <p>The sky's the limit - 2019 and beyond</p>
            </footer>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
